@font-face {
    font-family: "BenderLight";
    src: url("../fonts/BenderLight.eot");
    src: url("../fonts/BenderLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderLight.woff") format("woff"),
    url("../fonts/BenderLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/BenderRegular.eot");
    src: url("../fonts/BenderRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderRegular.woff") format("woff"),
    url("../fonts/BenderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cormorant-Light";
    src: url("../fonts/Cormorant-Light.otf");
    src: url("../fonts/Cormorant-Light.otf?#iefix")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cormorant-LightItalic";
    src: url("../fonts/Cormorant-LightItalic.otf");
    src: url("../fonts/Cormorant-LightItalic.otf?#iefix")format("opentype");
    font-style: normal;
    font-weight: normal;
}






