/*========================   Menu   ==========================*/

//--------------------------------------------------------------
//                       Menu Styles
//--------------------------------------------------------------
.sf-menu {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;

  .container  {

    .sf-menu__item {

      padding: 20px 0 0;
      width: 19%;
      display: inline-block;
      @include transition(0.3s);;

      & + li {
        // margin-left: 30px;
      }

    &:after {
      content:"";
      position: relative;
      display: block;
      width: 18px;
      height: 12px;
      margin:5px auto 0;
      background:url('../images/menu-arrow.jpg')0 0 no-repeat;
      z-index: 10;
      @include opacity(0);
      @include transition(0.3s);
    }

     &:hover:after{
      @include opacity(1);
      @include transition(0.3s);
     }
   }
}



  a {
    height: 100%;
    display: block;
  }

  &:after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    margin:0 auto;
    height: 1px;
    background-color: #d2d2d2;
    @include transition(0.3s);
    z-index: 8;
  }

    &:hover:after {
      background-color: $primary;
      @include transition(0.3s);
    }

}

//--------------------------------------------------------------
//                     Menu item styles
//--------------------------------------------------------------

.sf-menu {

  &__item {

    cursor: pointer;

    &--link {
      font-size: 16px;
      color: $default-dark;
    }

    &:hover .sf-menu__item--link {
      color: $primary;
    }
}

  .sfHover > a {
    color: $primary;
  }
}

//--------------------------------------------------------------
//                   Sub menu lvl1 styles
//--------------------------------------------------------------
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 0 25px;
  background: #FFF;
  z-index: 2;
  @include box-sizing(border-box);
  @include box-shadow(2.5px 4.3px 7px rgba(21, 23, 24, 0.09));
}

//--------------------------------------------------------------
//                 Sub menu lvl1 item styles
//--------------------------------------------------------------
.submenu {

  &__item {

    &--link {
      font-size: 16px;
      font-family: $font2;
      padding: 15px 0;
      color: $default-dark;
      position: relative;

      &:after {
        content:"";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 3px;
        background-color: $primary;
        @include opacity(0);
        @include transition(0.3s);
      }
    }

   div:hover > a:after {
      @include opacity(1);
      @include transition(0.3s);
      color:$primary;
    }

  }
}

//--------------------------------------------------------------
//                   Sub menu lvl2 styles
//--------------------------------------------------------------
.sub-submenu {
  position: static;
  display: block;
  top: 100%;
  width: auto;
  margin-top: 0;
  padding: 0;
  z-index: 4;
  @include opacity(1);
}

//--------------------------------------------------------------
//                 Sub menu lvl2 item styles
//--------------------------------------------------------------
.sub-submenu {
  margin-top: 12px;

  &__item {


    &--link {
      padding: 6px 0;
      font-family: $font2;
      color:$default-dark;
      background: $default;
    }

    &.sfHover > a, > a:hover {
      color:$primary;
    }
  }
}

.sub-menu-cntbox {
  text-align: left;
  padding: 24px 0;

  .post-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.3;
    font-family: $font2;
    color:$default-dark;

    &:hover {
      color: $primary;
    }
  }

  .decor-link {
    margin-top: 17px;
    font-size: 12px;
    position: relative;

      &:after {
        content:"";
        position: absolute;
        display: inline-block;
        bottom: 5px;
        right: -6%;
        width: 35px;
        height: 2px;
        vertical-align: middle;
        background-color: $primary;

      }
  }


  a.btn-2 {
    max-width: 175px;
    font-family: $font2;
  }


}

//--------------------------------------------------------------
//                      sf-with-ul styles
//--------------------------------------------------------------
.sf-menu > li > .sf-with-ul {
  position: relative;

  // &:before {
  //   position: absolute;
  //   left: 50%;
  //   top: 62%;
  //   margin-left: -6px;
  //   content: $fa-caret-down;
  //   font: 400 12px/12px $fa;
  // }
}

.bdr-lft {
  border-left: 2px solid #f2f2f2;
}

//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
