//========================================================
//                     Variables
//=========================================================

// Colors

$primary: #daa0d3;
$secondary: #0f0f0f;
$secondary2: #b6b6b6;
$secondary3: #757575;
$secondary4: #e6e6e6;
$default: #fff;
$default-dark: #000;


// Fonts

$default-font: 'OpenSansLight', sans-serif;
$font: 'OpenSansRegular', sans-serif;
$font1: 'OpenSansSemiBold', sans-serif;
$font2: 'BenderLight', sans-serif;
$font3: 'BenderRegular', sans-serif;
$font4: 'Cormorant-Light', serif;
$font5: 'Cormorant-LightItalic', serif;

